{% extends 'template.html' %}

{% block index_head %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Message
	<small> Show Record Question</small>
        </h1>
    </div>
    <table class="table" style = "table-layout:fixed">
<!--
    <thead class="col-sm-15">
    	<tr>
        	<th>index1</th>
        	<th>index2</th>
        	<th>index3</th>
        	<th>index4</th>
        	<th>index5</th>
    	</tr>
    </thead>
-->
    <tbody>
    {%for key,value in mesg_dict.items%}
           <thead class="col-sm-15">
    	         <tr>
    	            {%for i,j in value.items%}    
                        {%if i == 'title'%}
        	                <th>{{j}}</th>
                        {%endif%}
                        {%if i == 'content'%}
        	                <th>{{j}}</th>
                        {%endif%}

    	            {%endfor%}
    	          </tr>
           </thead>
    {%endfor%}
    </tbody>
    </table>

    </div>
{% endblock %}

{%block index_content %}

{% endblock %}
