{% extends 'template.html' %}

{% block index_head %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Log
	<small> Info</small>
        </h1>
    </div>
<!--
<div class="form-group">

    <label class="col-sm-2 control-label">附件:</label>
    <div class="col-sm-7">
        <input id="myfile" type="file" style="display: none" multiple>
        
        <input type="text" id="FileCover" class="form-control" readonly="true">
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary btn-sm " type="button" onclick="$('input[id=myfile]').click();">
            <i class="fa fa-folder-open" id="browse">&nbsp;&nbsp;浏览</i>
        </button>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary btn-sm " type="button" onclick="MyUpload()">
            <i class="fa fa-send" id="upload_status">&nbsp;&nbsp;上传</i>
        </button>
    </div>
</div>
-->


    {{context|linebreaks}}
    </div>
{% endblock %}

{%block index_content %}

{% endblock %}
